{{> head }}

{{> navbar }}

    <div class="row">

        <div class="col-8">
            <h1>Superman</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis magnam officia laudantium, quisquam animi, veritatis quia voluptatem in nemo voluptatibus, deleniti repellat sequi id magni enim illum sit. Nam, error.
            </p>
        </div>

        <div class="col-4">
            <img src="assets/img/images.jfif" class="img-thumbnail">
        </div>
    </div>


{{> footer }}